body{
    background-color: rgb(99, 69, 13);
}

output{
    background-color: #b12b13;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    border-radius: 5px;
}

button{
    background-color: rgb(2, 5, 5);
    color: #e2eceb;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}