* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(187, 127, 16);
}

h1{
    justify-self: center;
    margin: 10px;
}

#caixa{
    justify-self: center;
    margin: 30px;
}

button{
    padding: 15px;
    background-color: rgb(231, 41, 41);
}

#text{
    justify-self: center;
    margin: 80px;
}

textarea{
    padding: 20px;
    width: 700px;
    height: 200px;
    border-radius: 5px;
    
}

#bot:hover{
    box-shadow: rgb(241, 27, 20) 5px 6px 7px;
    transform: scale(1.02);
}

