* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(138, 51, 16);
    margin: 25px;
    padding: 15px;
    box-sizing: border-box;
}

label{
    color: #289b9b;
    margin: 10px;
}

input{
    height: 25px;
    border-radius: 10px;
    
    
}

#divbt{
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

button{
    background-color: #171a1d;
    color: #8e92a5;
    padding: 5px;
    width: 25%;
    border-radius: 5px;
}


h1{
    color: #367e8a;
    margin: 10px;
    
}

#botãozinho{
    background-color: rgb(9, 44, 83);
    width: 60px;
}

h2{
    color: #206b79;
    /* justify-content: center; */
    text-align: center;

}

p{
    color: #19c589;
    padding: 10px 30px;
}

div{
    color: #1ad694;
    padding: 10px 30px;
}

